.env
/.idea
/.vagrant
/build
/node_modules
/public/browserconfig.xml
/public/css
/public/favicon*
/public/hot
/public/images
/public/js
/public/mix-manifest.json
/public/storage
/storage/*.key
/vendor
Homestead.json
Homestead.yaml
npm-debug.log
phpunit.xml
yarn-error.log
