<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>

        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
        <env name="APP_NAME" value="Nashville PHP"/>
        <env name="APP_DEBUG" value="true"/>
        <env name="APP_LOG_LEVEL" value="debug"/>
        <env name="APP_URL" value="http://localhost"/>
        <env name="MAIL_DRIVER" value="log"/>
        <env name="MAIL_PROPOSALS_ADDRESS" value="proposals@example.com"/>
        <env name="MAIL_REPLY_TO_ADDRESS" value="reply@example.com"/>
    </php>
</phpunit>
